<div class="box-page box-aba- mb-5">
  <div class="box-content-aba">
    <div abaform class="col-12">
      <div class="row py-3">
        <feg-cliente-usina
          [form]="getFormChild('customer')"
          (onSave)="nextStep($event)"
          (onEditInProgress)="onEditInProgress($event)"
        ></feg-cliente-usina>
      </div>

      <div class="row py-3" *ngIf="stepAtual >= 2">
        <feg-tipo-atendimento
          (onSave)="nextStep($event)"
          [form]="getFormChild('attendance')"
        ></feg-tipo-atendimento>
      </div>

      <div class="row py-3" *ngIf="stepAtual >= 3">
        <feg-novo-equipamento
          [form]="getFormChild('hardwareProjects')"
          [projectId]="getFormChild('customer').value.projectsId"
        ></feg-novo-equipamento>
      </div>

      <div class="row" *ngIf="stepAtual >= 3">
        <div class="col-12">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="d-flex justify-content-end">
                  <p-button
                    styleClass="w-full"
                    label="Enviar solicitação"
                    [disabled]="form.invalid"
                    (click)="enviar()"
                  >
                  </p-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
