$blackfull: #000;
$black: #414042;
$white: #fff;
$white2: #ebebeb;
$grey: #fbfafa;
$grey2: #ccc;
$grey3: #f2f2f2;
$grey4: #f7f7f7;
$grey5: #6c6868;
$green: #00dc00;
$green2: #0ad462;
$green3: #F0F4F3;
$green4: #00b176;
$yellow: #eded00;
$yellow2: #ffcb68;
$orange: #ed4a1f;
$orange2: #f18500;
$blackprimary: #272a4b;
$violet: #8601b0;
$red: #f11c1c;
$whiteblue: #e9f4ff;
$pink: #c194dc;
$darkblue: #222d59;
$darkgrey: #a9a9a9;
$blue: #588cb4;
$blue2: #0000ff;
$transparent: transparent;
$body: #fffaf5;

$primary: #5EC1A0;
$secundary: #435466;
$tertiary:#B0DDD0;


$feg-colors: (
  blackfull: $blackfull,
  black: $black,
  primary: $primary,
  secundary: $secundary,
  white: $white,
  white2: $white2,
  orange: $orange,
  orange2: $orange2,
  violet: $violet,
  blackprimary: $blackprimary,
  green: $green,
  green2: $green2,
  green3: $green3,
  green4: $green4,
  grey: $grey,
  grey2: $grey2,
  grey3: $grey3,
  grey4: $grey4,
  grey5: $grey5,
  yellow: $yellow,
  yellow2: $yellow2,
  red: $red,
  whiteblue: $whiteblue,
  pink: $pink,
  transparent: $transparent,
  darkblue: $darkblue,
  darkgrey: $darkgrey,
  blue: $blue,
  blue2: $blue2,
  body: $body,
);
