<div class="box-page mb-5">
  <div *ngFor="let item of data">
    <div class="box-content ca-par" *ngFor="let dataItem of item.data">
      <div class="row">
        <div class="col-md-4 mb-3">
          <p>Chamado: {{ dataItem?.id }}</p>
        </div>
        <div class="col-md-4 mb-3">
          <p>Cliente: {{ dataItem?.projectsCompany?.project?.nickname }}</p>
        </div>
        <div class="col-md-3 mb-3">
          <p>Status: {{ dataItem?.SacHardwares[0]?.Status?.name }}</p>
        </div>
        <div class="col-md-1"></div>
        
        <div class="col-md-4">
          <p>Código: {{ dataItem?.projectsCompany?.project?.code }}</p>
        </div>
        <div class="col-md-4">
          <p>Usina: Usina de Teste</p>
        </div>
        <div class="col-md-3">
          <p>Tipo: {{ dataItem?.type }}</p>
        </div>
        <div class="col-md-1 d-flex align-self-center">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-ellipsis-v"
            (click)="createMenuItem($event, dataItem)"
            class="p-button-rounded p-button-secondary p-button-outlined"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>

<feg-over-list #cgc [data]="menuSelecao?.menuItem"></feg-over-list>
