<form [formGroup]="form">
  <div class="row">
    <div class="col-12 text-center">
      <p class="mt-3 mb-2 cf-color-secundary spartan-medium font-weight-500">
        {{ "auth.alterpassword.textemail" | translate }}
      </p>
    </div>
    <div class="col-12 mt-4">
      <span class="p-float-label feg-color-secundary">
        <input
          class="col-12 feg-input"
          id="float-input"
          type="text"
          formControlName="email"
          pInputText
        />
        <label class="spartan-medium" for="float-input">
          {{ "auth.alterpassword.youremail" | translate }}</label
        >
      </span>
    </div>

    <div class="row mt-2" *ngIf="showSuccessEmail">
      <div class="col-12 text-success">
        {{ "auth.alterpassword.emailsent" | translate }}
      </div>
    </div>
    <div class="col-12 mt-2" *ngIf="emailNotFoundfail">
      <div class="col-12 text-danger">
          {{"auth.alterpassword.textemailfail" | translate}}
      </div>
  </div>
  
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <p-button
        styleClass="col-12"
        (click)="reset()"
        [loading]="loading"
        label="{{'auth.alterpassword.sendemail' | translate }}"
      ></p-button>
    </div>
  </div>
</form>
