<feg-content>
  <div class="container-fluid box-page mb-5">
    <div class="row mt-4">
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12 mt-2">
            <label class="fw-bold">Cliente:</label>
            <p>
              {{
                data?.projectsCompany?.customerCompany?.customer?.corporateName
              }}
            </p>
          </div>

          <div class="col-12 col-md-6 mt-2">
            <label class="fw-bold">CNPJ do Cliente: </label>
            <p>
              {{ data?.projectsCompany?.customerCompany?.customer?.cnpj }}
            </p>
          </div>
          <div class="col-12 col-md-6 mt-2">
            <label class="fw-bold">IE do Cliente: </label>
            <p>
              {{ data?.projectsCompany?.customerCompany?.customer?.ie }}
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12 mt-2">
            <label class="fw-bold">Usina:</label>
            <p>{{ data?.projectsCompany?.project?.nickname }}</p>
          </div>

          <div class="col-12 col-md-6 mt-2">
            <label class="fw-bold">CNPJ da Usina: </label>
            <p>
              {{ data?.projectsCompany?.project?.document }}
            </p>
          </div>
          <div class="col-12 col-md-6 mt-2">
            <label class="fw-bold">IE da Usina: </label>
            <p>
              {{ data?.projectsCompany?.project?.ie }}
            </p>
          </div>
          <div class="col-12 mt-2">
            <label class="fw-bold">Endereço da Usina: </label>
            <p>
              {{ data?.projectsCompany?.project?.address }},
              {{ data?.projectsCompany?.project?.addressNumber }} -
              {{ data?.projectsCompany?.project?.addressCity }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-12">
        <label class="fw-bold me-3">Tipo Atendimento: </label>
        <label>{{ (data?.type || "").toUpperCase() }}</label>
      </div>
    </div>

    <div class="row mt-3">
      <p-divider></p-divider>
      <div class="col-12">
        <div class="row">
          <div class="col-6">
            <label class="fw-bold">Equipamentos: </label>
          </div>
          <div class="col-6">
            <p-button
              *ngIf="hasAnyStatus(ENUM_STATUS_SAC.RMA_AGUARDANDO_ENVIO)"
              icon="pi pi-exclamation-triangle"
              label="Dados de envio"
              styleClass="p-button-warning"
              (onClick)="setarDadosEnvio()"
            ></p-button>
            <p-button
              *ngIf="hasAnyStatus(ENUM_STATUS_SAC.RMA_PROPOSTA_ENVIADA)"
              icon="pi pi-exclamation-triangle"
              label="Ver proposta"
              styleClass="p-button-warning"
              (onClick)="verPropostas()"
            ></p-button>
          </div>
        </div>
      </div>
      <div class="col-12 mt-4">
        <p-table [value]="equipamentos">
          <ng-template pTemplate="header">
            <tr>
              <th>{{ "Tipo" | translate }}</th>
              <th>{{ "Equipamento" | translate }}</th>
              <th>{{ "Status" | translate }}</th>
              <th style="width: 4rem"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-equip let-index="rowIndex">
            <tr class="p-selectable-row">
              <td>
                {{ equip.tipo }}
              </td>
              <td>
                {{ equip.equipamento }}
              </td>
              <td>
                <i
                  *ngIf="equip.statusId == ENUM_STATUS_SAC.RMA_AGUARDANDO_ENVIO"
                  pTooltip="Por favor, informar dados de envio do equipamento"
                  class="pi pi-exclamation-triangle feg-color-orange"
                ></i>
                <i
                  *ngIf="equip.statusId == ENUM_STATUS_SAC.RMA_PROPOSTA_ENVIADA"
                  pTooltip="Por favor, analisar e responder a proposta"
                  class="pi pi-file-pdf feg-color-orange"
                ></i>
                {{ equip.status }}
              </td>
              <td style="text-align: center">
                <button
                  *ngIf="equip.menu.length > 0"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-ellipsis-v"
                  class="p-button-rounded p-button-secondary p-button-outlined me-3"
                  (click)="openMenu($event, equip)"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</feg-content>

<feg-over-list #cgc [data]="menuSelecao?.opcoes"></feg-over-list>

<feg-modal-confirm #mconf [data]="modalConfirm"></feg-modal-confirm>
