<form class="py-3" autocomplete="off" [formGroup]="form">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12">
            <p>Cliente:</p>
            <p-dropdown
              [showClear]="true"
              placeholder="Selecione o Cliente"
              appendTo="body"
              formControlName="customerId"
              styleClass="col-4"
              optionValue="id"
              [options]="optionsCustomers"
              optionLabel="corporateName"
              (onChange)="onCustomerSelect($event.value)"
              (onClear)="onCustomerClear()"
            >
            </p-dropdown>
          </div>
          <div class="col-12" *ngIf="selectedCustomer">
            <label class="col-md-6 pt-1"
              ><strong>CNPJ do Cliente:<br /> </strong
              >{{ selectedCustomer?.cnpj }}</label
            >
            <label class="col-md-6 pt-1"
              ><strong>IE do Cliente:<br /> </strong
              >{{ selectedCustomer?.ie }}</label
            >
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="row">
          <div class="col-12">
            <p class="pt-1">Usina:</p>
            <p-dropdown
              [showClear]="true"
              placeholder="Selecione a Usina"
              appendTo="body"
              formControlName="projectsCompanyId"
              optionValue="id"
              styleClass="col-5"
              optionLabel="project.nickname"
              [options]="optionsProjects"
              (onChange)="onFactorySelected($event.value)"
            >
            </p-dropdown>
          </div>
          <div class="col-12" *ngIf="selectedFactory">
            <label class="pt-1 col-md-6"
              ><strong>CNPJ da Usina:<br /> </strong
              >{{ selectedFactory?.project.document }}</label
            >
            <label class="pt-1 col-md-6"
              ><strong>IE da Usina:<br /> </strong
              >{{ selectedFactory?.project.ie }}</label
            >
            <label class="pt-1 col-md-12"
              ><strong>Endereço da Usina:<br /> </strong
              >{{ selectedFactory?.project.address }},
              {{ selectedFactory?.project.addressNumber }} -
              {{ selectedFactory?.project.addressCity }}</label
            >
          </div>
        </div>
      </div>
      <div class="col-1">
        <div class="d-flex justify-content-start" *ngIf="page == 'view'">
          <div
            class="rounded-circle border-1 cursor-pointer feg-border-color-primary mt-4"
            (click)="editar()"
          >
            <i
              class="p-2 pi pi-pencil d-flex justify-content-end feg-color-primary"
            ></i>
          </div>
        </div>
      </div>
    </div>
    <div class="card-novo-sac justify-content-around">
      <div class="row">
        <div class="d-flex justify-content-end">
          <p-button
            *ngIf="page == 'edit'"
            styleClass="w-full"
            label="Avançar"
            [disabled]="!form.valid"
            (onClick)="avancar()"
          >
          </p-button>
        </div>
      </div>
    </div>
  </div>
</form>
