<div class="box-page box-aba-form">
  <div class="box-content-aba">
    <div abaform class="col-12">
      <div class="row py-3">
        <feg-cliente-usina (onSave)="nextStep($event)"></feg-cliente-usina>
      </div>

      <div class="row py-3" *ngIf="stepTwo">
        <feg-tipo-atendimento (onSave)="nextStep($event)"></feg-tipo-atendimento>
      </div>


      <!-- <div class="row px-5 py-3">
        <div class="card-novo-sac py-3">
          <div class="card-novo-sac py-3 px-3 d-flex">
            <div class="col-12 justify-content-start">
              <label>NCU - MC12233SKIi31</label>
            </div>
          </div>
          <div class="col-12 d-flex py-3 d-flex justify-content-around">
            <div>
              <p-button styleClass="col-12" label="Avançar"></p-button>
            </div>
            <div>
              <p-button styleClass="col-12" label="Avançar"></p-button>
            </div>
            <div>
              <p-button styleClass="col-12" label="Avançar"></p-button>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
