<div class="container-fluid">
  <div
    class="card-novo-sac justify-content-around px-5 py-3 {{
      nextStep ? 'disable-cards' : ''
    }}"
  >
    <label class="ps-4" *ngIf="allEquips.length > 0">{{
      allEquips.length > 0
        ? "Equipamentos:"
        : "Não há equipamentos cadastrados nessa usina"
    }}</label>
    <div
      class="col-12 justify-content-start mb-4"
      *ngFor="let eqp of allEquips; let i = index"
    >
      <div class="card-novo-sac p-4">
        <label
          >{{ eqp.hardwareModel.hardwareType.name }} -
          <span
            >{{ eqp.description }}
            <i
            (click)="deleteEqp(i)"
              class="ms-2 p-2 rounded-circle border-1 cursor-pointer feg-border-color-primary pi pi-trash feg-color-red"
            ></i></span
        ></label>
      </div>
      <p-divider></p-divider>
    </div>

    <div class="col-12 d-flex py-3 d-flex justify-content-end" *ngIf="!newEqp">
      <p-button
        styleClass="w-full"
        label="Novo Equipamento"
        (onClick)="newEqp = !newEqp"
      ></p-button>
    </div>

    <div
      *ngIf="newEqp"
      class="col-12 d-flex py-3 px-4 d-flex justify-content-between"
    >
      <div class="col-4 px-1">
        <p-dropdown
          placeholder="Selecione o tipo do equipamento"
          appendTo="body"
          styleClass="w-full"
          optionLabel="name"
          [(ngModel)]="tipoEqp"
          [options]="tipoEqps"
          (onChange)="getEqpById($event)"
        ></p-dropdown>
      </div>
      <div class="col-4 px-1">
        <p-dropdown
          placeholder="Selecione o equipamento"
          appendTo="body"
          styleClass="w-full"
          [options]="eqps"
          [(ngModel)]="eqp"
          optionLabel="description"
          (onChange)="checkValue()"
        ></p-dropdown>
      </div>
      <div class="col-4 px-1">
        <input
          *ngIf="optionDigit"
          class="feg-input w-full"
          id="float-input"
          [(ngModel)]="eqpText"
          (blur)="checkValue()"
          type="text"
          pInputText
        />
      </div>
    </div>

      <form *ngIf="newEqp" [formGroup]="formFilter">
      <div
        formArrayName="answers"
        *ngFor="let pg of answersCommand; let i = index"
        class="py-3 px-4 d-flex"
      >
        <div
          [formGroupName]="i"
          class="col-6 px-1"
          *ngIf="pg.typeQuestion != 'switch'"
        >
          <span>{{ pg.description }}: </span>
          <input
            class="feg-input w-full"
            id="float-input"
            type="text"
            formControlName="answer"
            pInputText
          />
        </div>

        <div
          [formGroupName]="i"
          *ngIf="pg.typeQuestion == 'switch'"
          class="col-3"
        >
          <span class="me-2">{{ pg.description }}:</span>
          <p-inputSwitch
            styleClass="ps-3 d-flex"
            [trueValue]="1"
            formControlName="answer"
            [falseValue]="0"
          ></p-inputSwitch>
        </div>
      </div>
    </form>

    <div class="col-12 d-flex py-3 d-flex justify-content-end" *ngIf="btnAv && newEqp">
      <p-button
        styleClass="w-full"
        label="Salvar Equipamento"
        (onClick)="avancar()"
      ></p-button>
    </div>
  </div>
</div>
