<form [formGroup]="formCreate">
  <div class="container-fluid">
    <div class="row" *ngIf="listEquipamentos.length > 0">
      <div class="col-12">
        <p>Equipamentos:</p>
        <div
          class="col-12 justify-content-start mb-4"
          *ngFor="let eqp of listEquipamentos; let i = index"
        >
          <span>
            <i
              (click)="deleteEqp($event)"
              class="me-2 feg-fs-14 p-1 rounded-circle border-1 cursor-pointer feg-border-color-red pi pi-trash feg-color-red"
            >
            </i>
          </span>
          <label>{{ eqp.description }}</label>
        </div>
        <div class="col-12 col-md-2">
          <button
            label="Adicionar novo item"
            class="p-button-outlined p-button-success w-full"
            pButton
            (click)="openForm()"
            type="button"
            icon="pi pi-plus"
          ></button>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="showForm">
      <p-divider></p-divider>
      <p class="py-2 spartan-bold">Novo equipamento</p>

      <div class="col-3">
        <p>Tipo de Equipamento:</p>
        <p-dropdown
          placeholder="Selecione o tipo do equipamento"
          appendTo="body"
          styleClass="w-full"
          optionLabel="name"
          formControlName="tipoEqp"
          [options]="optionsTipoEquipamentos"
          (onChange)="changeTipoEquipamento($event)"
        ></p-dropdown>
      </div>
      <div class="col-3">
        <p>Equipamento:</p>
        <p-dropdown
          placeholder="Selecione o equipamento"
          appendTo="body"
          styleClass="w-full"
          [options]="optionsEquipamentos"
          formControlName="eqp"
          optionLabel="description"
          (onChange)="changeEquipamento()"
        ></p-dropdown>
      </div>

      <div class="col-3" *ngIf="formCreate.value.eqp.id === 0">
        <p>Modelo:</p>
        <p-dropdown
          placeholder="Selecione o modelo"
          appendTo="body"
          styleClass="w-full"
          [options]="optionsEquipamentos"
          formControlName="hardwareModelId"
          optionLabel="description"
          optionValue="id"
        ></p-dropdown>
      </div>
      <div class="col-3" *ngIf="formCreate.value.eqp.id === 0">
        <p>Digite o numero do equipamento:</p>
        <input
          class="feg-input w-full"
          id="float-input"
          formControlName="eqpText"
          type="text"
          pInputText
        />
      </div>
      

    </div>
    <div class="row" formArrayName="answer" *ngIf="questionsData.length > 0">
      <p class="mt-4 mb-3">
        Por favor, responda as perguntas referente ao tipo de equipamento
        selecionado
      </p>

      <div
        [formGroupName]="i"
        *ngFor="let pg of questionsData; let i = index"
        class="col-6"
      >
        <span class="me-2">{{ pg.description }}:</span>
        <ng-container *ngIf="pg.typeQuestion == 'textarea'">
          <textarea
            rows="5"
            cols="70"
            [disabled]="true"
            formControlName="answer"
            pInputTextarea
            class="w-full"
            inputStyleClass="w-full"
          ></textarea>
        </ng-container>

        <ng-container *ngIf="pg.typeQuestion == 'switch'">
          <p-inputSwitch
            styleClass="ps-3 d-flex"
            [trueValue]="1"
            [falseValue]="2"
            formControlName="answer"
          ></p-inputSwitch>
        </ng-container>

        <ng-container *ngIf="pg.typeQuestion == 'text'">
          <input
            class="feg-input w-full"
            id="float-input"
            type="text"
            formControlName="answer"
            pInputText
          />
        </ng-container>
      </div>
    </div>

    <div class="row mt-3" *ngIf="showForm">
      <div class="col-12">
        <div class="d-flex justify-content-end">
          <p-button
            styleClass="w-full"
            label="Salvar Equipamento"
            [disabled]="!formCreate.valid"
            (onClick)="avancar()"
          >
          </p-button>
        </div>
      </div>
    </div>
  </div>
</form>
