<div class="container-fluid">
  <div
    class="card-novo-sac justify-content-around px-5 py-3"
  >
    <div class="row">
      <div class="col-6">
        <div class="d-flex flex-column">
          <label class="ps-3 pt-1"
            >Cliente: {{ nextStep ? customer.corporateName : "" }}</label
          >
          <div>
            <p-dropdown
              *ngIf="!nextStep"
              placeholder="Selecione o Cliente"
              appendTo="body"
              styleClass="col-4 ms-3"
              [options]="customers"
              [(ngModel)]="customer"
              optionLabel="corporateName"
              (onChange)="getAllProjetos()"
            ></p-dropdown>
          </div>
        </div>
      </div>

      <div class="col-5">
        <div class="d-flex flex-column">
          <label class="ps-3 pt-1"
            >Usina: {{ nextStep ? factory.nickname : "" }}</label
          >

          <div>
            <p-dropdown
              *ngIf="!nextStep"
              placeholder="Selecione a Usina"
              appendTo="body"
              styleClass="col-5 ms-3"
              optionLabel="nickname"
              [options]="factorys"
              [(ngModel)]="factory"
            ></p-dropdown>
          </div>
        </div>
      </div>

      <div class="col-1">
        <div class="d-flex justify-content-end" *ngIf="nextStep">
          <div class="rounded-circle border-1 cursor-pointer feg-border-color-primary" (click)="nextStep = !nextStep">
            <i class="p-2 pi pi-pencil d-flex justify-content-end feg-color-primary "></i>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="factory">
        <div class="d-flex justify-content-end">
          <p-button
            *ngIf="!nextStep"
            styleClass="w-full"
            label="Avançar"
            (onClick)="avancar()"
          ></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
