<form class="py-3" autocomplete="off" [formGroup]="form">
  <div class="container-fluid">
    <div class="row">
      <div class="col-11 justify-content-start">
        <label class="pt-1 d-flex flex-column">Tipo Atendimento:</label>
        <p-dropdown
          placeholder="Selecione o Atendimento"
          appendTo="body"
          styleClass="col-4"
          [options]="optionsTipoAtendimento"
          formControlName="atttId"
          optionLabel="name"
        >
        </p-dropdown>
      </div>

      <div class="col-1">
        <div class="d-flex justify-content-start" *ngIf="page == 'view'">
          <div
            class="rounded-circle border-1 cursor-pointer feg-border-color-primary"
            (click)="editar()"
          >
            <i
              class="p-2 pi pi-pencil d-flex justify-content-end feg-color-primary"
            ></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-end">
        <p-button
          *ngIf="page == 'edit'"
          styleClass="w-full"
          label="Avançar"
          [disabled]="!form.valid"
          (onClick)="avancar()"
        >
        </p-button>
      </div>
    </div>
  </div>
</form>
